<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
        <add key="xConnectCertificateConnectionString" value="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=3DE93B08A1C99FDC874B5A035EF02C66F3CB77E0" />
        <add key="xConnectRootUrl" value="https://xp0.xconnect" />
        
        <add key="SlackOAuthToken" value="xoxp-323366903376-323999081732-323928621059-c1a9b65a4714421b2c9655852e26a440" />
        <add key="SlackRootUrl" value="https://poutineers.slack.com"/>
        <add key="SlackChannelName" value="C9J451PC5" />

        <add key="CommerceContactList" value="38e9c0b0-ed57-49c6-9714-79f1b09159c2" />
        <add key="PowershellContactList" value="d2c719e6-d9ac-42ef-e2b6-263137430fe0"/>
        <add key="WffmContactList" value="1314234D-4785-4D8C-C9A3-0AF2045B3184" />
    </appSettings>
</configuration>
